@use "../abstracts/variables" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-background;
  padding: 0 0 3rem 0;
  font-family: sans-serif;
  color: $color-black;
  overflow-x: hidden;
}

button {
  background-color: $color-selector;
}

.spinner {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 4px solid rgba($color-secondary, 0.2);
  border-top-color: $color-secondary;
  border-right-color: $color-secondary-dark;
  animation: spin 0.8s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite;
  flex-shrink: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}