p {
  font-size: 1.7rem;
  margin: 2rem auto;
  max-width: 70rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  @media (max-width: 600px) {
    font-size: 1.5rem;
    margin: 1.5rem auto;
  }
}
