@use "abstracts/variables" as *;

@use "base/base";
@use "base/typography";

@use "components/billboard";
@use "components/chart";
@use "components/circle-chart";
@use "components/dashboard";
@use "components/lyrics";
@use "components/search";
@use "components/select";
@use "components/songs";
@use "components/tooltip";