*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #c9cbce;
  padding: 3rem; }

.chart-container {
  background-color: white;
  padding: 2rem;
  max-width: 70%;
  display: flex;
  justify-content: center; }

.song {
  margin: 2rem 0; }
