@use "../abstracts/variables" as *;

.billboard {
  height: 90vh;
  background-size: cover;
  background-blend-mode: saturation;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;

  &__backdrop {
    width: 100vw;
    height: auto;
  }

  &__text {
    padding: 1.5rem 1rem;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--header {
      font-family: "Quattrocento", serif;
      font-size: 20rem;
      text-shadow: 8px 7px 1px $color-black;

      .mark {
        position: relative;
        color: $color-primary;
        &::before {
          content: "";
          position: absolute;
          width: 0.14em;
          height: 0.14em;
          background-color: #48c3d0;
          border-radius: 50%;
          bottom: 0.25em;
          left: 44.4%;
          transform: translateX(-50%);
        }
      }
    }

    &--sub-header {
      font-family: "Raleway", sans-serif;
      font-size: 4.5rem;
      max-width: 75%;
      font-weight: 700;
      text-shadow: 3px 3px 1px $color-black;
    }

    &--author {
      font-family: "Raleway", sans-serif;
      margin: 1rem;
      font-size: 1.5rem;
      max-width: 75%;
      font-weight: 700;
      text-shadow: 1px 1px 1px $color-black;
      a {
        text-decoration: underline;
        color: $color-secondary;
      }
    }
  }
}
