@use "../abstracts/variables" as *;

.billboard {
  height: 90vh;
  min-height: 40rem;
  background-size: cover;
  background-blend-mode: saturation;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;

  &__backdrop {
    width: 100%;
    height: auto;
  }

  &__text {
    padding: 1.5rem 2rem;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--header {
      font-family: "Quattrocento", serif;
      font-size: 20rem;
      text-shadow: 8px 7px 1px $color-black;

      .mark {
        position: relative;
        color: $color-primary;

        &::before {
          content: "";
          position: absolute;
          width: 0.15em;
          height: 0.15em;
          background-color: #48c3d0;
          border-radius: 50%;
          bottom: 0.23em;
          left: 44.4%;
          transform: translateX(-50%);
        }
      }
    }

    &--sub-header {
      font-family: "Raleway", sans-serif;
      font-size: 4.5rem;
      max-width: 75%;
      font-weight: 700;
      text-shadow: 3px 3px 1px $color-black;
    }

    &--author {
      font-family: "Raleway", sans-serif;
      margin: 1rem;
      font-size: 1.5rem;
      max-width: 75%;
      font-weight: 700;
      text-shadow: 1px 1px 1px $color-black;

      a {
        text-decoration: underline;
        color: $color-secondary;
      }
    }
  }

  @media (max-width: 768px) {
    height: 50vh;
    margin-bottom: 3rem;

    &__text {
      &--header {
        font-size: 10rem;
        text-shadow: 4px 4px 1px $color-black;
      }

      &--sub-header {
        font-size: 2.4rem;
        max-width: 90%;
        text-shadow: 2px 2px 1px $color-black;
      }
    }
  }

  @media (max-width: 480px) {
    height: 35vh;

    &__text {
      &--header {
        font-size: 6.5rem;
      }

      &--sub-header {
        font-size: 1.8rem;
        max-width: 95%;
      }

      &--author {
        font-size: 1.3rem;
      }
    }
  }
}
