.chart-container {
  background-color: white;
  padding: 2rem;
  width: 840px;
  display: flex;
  margin: auto;
  border-radius: 4px;
  justify-content: center;
  transition: all 2s ease;
  box-shadow: $shadow-1;

  .plot-area {
    transition: all 2s ease;
  }
  svg {
    transition: all 2s ease;
    fill: $color-secondary;
  }

  .bar {
    transition: y 2s ease, fill 0.8s ease, height 2s ease;
    cursor: pointer;

    &:hover {
      fill: $color-secondary-dark;
    }
  }
}
