.circle-chart {
  transition: all 2s ease;
  display: flex;
  justify-content: center;

  circle {
    fill: none;
  }

  .axis line,
  .axis circle {
    stroke: $color-background;
    stroke-width: 3px;
  }

  text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  .r-axis {
    text {
      transform: translate(-2px, -2px);
      text-anchor: end;
    }
  }
}
