@use "../abstracts/variables" as *;

.circle-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  svg {
    width: 28rem;
    height: 28rem;
  }

  path.slice {
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.75;
    }
  }

  &__legend {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem 2rem;
    margin-top: 2rem;
    width: 100%;

    @media (max-width: 600px) {
      justify-content: space-evenly;
    }
  }

  &__legend-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: $color-black;
  }

  &__legend-swatch {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 2px;
    flex-shrink: 0;
  }

  &__legend-word {
    font-weight: 500;
  }

  &__legend-pct {
    color: $color-grey;
  }
}
