.details {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 2rem auto 2rem auto;
  font-family: "Montserrat", sans-serif;

  .total {
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
  }

  .selection {
    font-size: 2.5rem;
    span {
      position: relative;
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      font-style: italic;
      font-weight: 200;
      bottom: .2rem;
    }
  }

  .keyword {
    text-decoration: underline;
    text-decoration-color: $color-secondary;
  }
}

.tools-container {
  margin: 2rem auto 4rem auto;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}
