.lyrics {
  font-family: "Montserrat", sans-serif;
  transition: all 1s ease;
  width: 150%;
  position: relative;
  right: 25%;

  &__text {
    font-size: 1.1rem;
  }
  
  b {
    font-weight: 700;
  }
}
