@use "../abstracts/variables" as *;

.search {
  margin: 5rem 0 1rem 0;
  width: fit-content;
  width: -moz-fit-content;
  box-shadow: $shadow-1;
  
  input, button {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    height: 4rem;
    padding: 1rem;
  }

  input {
    border-radius: 4px 0 0 4px;
    width: 15rem;
  }
  
  button {
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}
