@use "../abstracts/variables" as *;

.search {
  margin: 0;
  width: 100%;
  max-width: 30rem;

  form {
    display: flex;
    box-shadow: $shadow-1;
    border-radius: 4px;
  }

  input,
  button {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    border: none;
    height: 4rem;
    padding: 1rem;
  }

  input {
    border-radius: 4px 0 0 4px;
    flex: 1;
    min-width: 0;
  }

  button {
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  @media (max-width: 600px) {
    max-width: 100%;
  }
}
