@use "../abstracts/variables" as *;

.container {
  user-select: none;
  cursor: pointer;
  position: relative;
  text-align: left;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 20rem;
  color: $color-black;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  max-height: 4rem;

  .select,
  button,
  ul {
    padding: 1rem;
    box-shadow: $shadow-1;
  }

  .select {
    width: 100%;
    background-color: $color-primary;
    color: #757575;
    height: 4rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 1.5s linear;
  }

  button {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    border: none;
    height: 4rem;
    padding: 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  ul {
    position: relative;
    display: block;
    list-style: none;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    height: 0rem;
    padding: 0;
    max-height: 0rem;
    border-radius: 0 0 4px 4px;
    background-color: $color-selector;
    transition: all 0.5s ease, border-radius;

    li {
      width: 100%;
      margin: 0.5rem 0;
      text-align: center;
    }
  }

  &.selected {
    .select {
      border-radius: 4px 4px 0 0;
    }
  }
}
