@use "../abstracts/variables" as *;

.songs {
  &__list {
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 75vw;
    margin: 0 auto 4rem auto;

    .selected {
      border: 2px solid $color-secondary;
    }

    &--container {
      width: 25rem;
      margin: 1%;
    }

    &--song-container {
      height: 12rem;
      margin: 1rem 0;
      list-style: none;
      min-width: 30%;
      box-shadow: $shadow-1;
      background: $color-primary;
      border-radius: 4px;
      transition: border 0.2s ease;
      border: 2px solid $color-primary;
      cursor: pointer;

      &:hover {
        border: 2px solid $color-secondary;
      }
    }
  }
}

.song {
  padding: 1rem;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: right;
  font-family: "Roboto", sans-serif;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2rem;
    height: 100%;
    gap: 0.75rem;

    &--title {
      font-size: 2rem;
      text-align: left;
      margin-bottom: 0.6rem;
    }

    &--position {
      font-size: 1rem;
      text-align: right;
    }

    &--artist {
      font-family: 'Source Serif Pro', serif;
      font-style: italic;
      max-width: 85%;
      font-size: 1.6rem;
      text-align: left;
      line-height: 1.7rem;
    }
  }
}
