@use "../abstracts/variables" as *;

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $color-secondary-dark;
  padding: 1rem 2rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  &--visible {
    transform: translateY(0);
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: $color-primary;
    font-weight: 700;
  }

  &__author {
    font-weight: 400;
    color: $color-secondary;
    text-decoration: none;
    font-size: 14px;
    margin-left: 0.75rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
